:root {
  /* BASE */
  --WHITE: #FFFFFF;
  --BLACK: #000000;

  /* GRAYSCALE */
  --GRAY_LIGHT: #e6e6e6;
  --GRAY_MEDIUM: #cacaca;
  --GRAY_DARK: #8a8a8a;

  /* PRIMARY */
  --CRANBERRY: #E44E96;
  --CRANBERRY_100: #FDDCDE;
  --CRANBERRY_300: #F695B0;
  --CRANBERRY_700: #A4277C;
  --CRANBERRY_900: #6D0E62;

  /* NEUTRAL */
  --MARTINIQUE: #262F47;
  --MARTINIQUE_100: #DEE7F5;
  --MARTINIQUE_300: #90A2C7;
  --MARTINIQUE_700: #131A33;
  --MARTINIQUE_900: #070B22;

  /* SECONDARIES */
  --BLEUROYAL: #4E54E4;
  --BLEUROYAL_100: #DCDEFD;
  --BLEUROYAL_500: #959AF6;
  --BLEUROYAL_700: #272BA4;
  --BLEUROYAL_900: #0E116D;

  --SHAKESPEARE: #38ABCF;
  --SHAKESPEARE_100: #D7FCFA;
  --SHAKESPEARE_500: #87E6F0;
  --HAKESPEARE_700: #1C6695;
  --SHAKESPEARE_900: #0A3463;

  --SHAMROCK: #6837CF;
  --SHAMROCK_100: #E8D7FC;
  --SHAMROCK_500: #AF86F0;
  --SHAMROCK_700: #3A1B95;
  --SHAMROCK_900: #1B0A63;

  /* BUTTON */
  --BTN_BORDER: rgba(255, 255, 255, 0.25);

  /* ACTIONS */
  --SUCCESS: #3adb76;
  --WARNING: #ffae00;
  --ALERT: #cc4b37;
  --ERROR: #fff;
}