html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  color: var(--MARTINIQUE_700)
}

a {
  font-family: "Gilroy-Medium";
  font-size: 24px;
  color: var(--CRANBERRY);
  text-decoration: underline;
}

h1 {
  font-family: "Gilroy-Bold";
  font-size: 48px;
  letter-spacing: -0.05em;
  line-height: 52px;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 80px;
    line-height: 84px;
    text-align: left;
  }
}

h2 {
  font-family: "Gilroy-Bold";
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.05em;
  text-align: center;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 64px;
    line-height: 68px;
    text-align: left;
    margin-top: 0;
  }
}

h3 {
  font-family: "Gilroy-Medium";
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.05em;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  h3 {
    font-size: 48px;
    line-height: 60px;
  }
}

h4 {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }
}

p {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 26px;
  color: rgba(19, 26, 51, 0.5);
}

button {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 24px;
  color: var(--WHITE);
  padding: 20px;
  border-radius: 100px;
  border: none;
  background: linear-gradient(180deg, #e44e96 0%, #a4277c 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none
}