.textImageWrapper {
  width: 100vw;
  margin-left: -30px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;
}

@media screen and (min-width: 500px) {
  .textImageWrapper {
    width: inherit;
    margin-left: 0;
    justify-content: center;
    overflow: inherit;
  }
}

@media screen and (min-width: 800px) {
  .textImageWrapper {
    width: 60%;
    margin-left: 0;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .textImageWrapper {
    overflow: inherit;
  }
}

.rightImage.textImageWrapper {
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 1%,
      #4E54E4), url("../../images/pattern-background.png");
  background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0) 1%,
      #4E54E4), url("../../images/pattern-background.png");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 1100px) {
  .rightImage.textImageWrapper {
    background-size: cover;
  }
}


@media (min-width: 500px) and (max-width: 1100px) {
  .rightImage.textImageWrapper {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 1%,
        #4E54E4), url("../../images/pattern-background.png");
    background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0) 1%,
        #4E54E4), url("../../images/pattern-background.png");
    background-size: contain;
    background-position: center center;
  }
}