.LegalsComponentSection h3 {
  padding-top: 30px;
}

.LegalsComponentSection span {
  font-family: "Gilroy-Bold";
}

.LegalsComponentSection div {
  margin-bottom: 55px;
}

.LegalsComponentSection .cta {
  font-size: 18px;
}