.textImageSection {
  padding-top: 55px;
}

.textImageContainer {
  display: flex;
  justify-content: space-between;
}

.textImageContainer.leftImage {
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .textImageContainer.leftImage {
    flex-direction: row-reverse;
  }
}

.rightImage {
  flex-direction: column;
  background: var(--BLEUROYAL);
}

@media screen and (min-width: 800px) {
  .rightImage {
    flex-direction: row;
  }
}

/* Content informations */

.textImageContentWrapper {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .textImageContentWrapper {
    width: 60%;
    text-align: left;
    margin-left: 60px;
    margin-right: 0;
    margin-bottom: 55px;
  }
}

.leftImage h4 {
  color: var(--CRANBERRY);
}

/* Content image */
.stylesImage {
  width: 120%;
  z-index: 2;
}

@media screen and (min-width: 800px) {
  .stylesImage {
    width: 100%;
    margin-left: 0;
  }
}

.animationWrapperLeft {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .animationWrapperLeft {
    width: 410px;
    height: 390px;
    overflow: initial;
  }
}

@media screen and (min-width: 800px) {
  .animationWrapperLeft {
    height: 480px;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .animationWrapperLeft {
    overflow: inherit;
  }
}


/* If image is on the right side */
.rightImage .textImageContentWrapper {
  color: var(--WHITE);
}

@media screen and (min-width: 800px) {
  .rightImage .textImageContentWrapper {
    margin-right: 60px;
    margin-left: 0;
  }
}

.rightImage p {
  color: var(--WHITE);
  opacity: 0.5;
}

.rightImage .stylesImage {
  margin-left: -10%;
}

@media screen and (min-width: 800px) {
  .rightImage .stylesImage {
    margin-left: 0;
  }
}